<div class="max-w-3xl mx-auto py-12">
  <article>
    <h1 class="text-5xl font-bold"><%= @term.word %></h1>
    <% if @term.part_of_speech.present? %>
      <p class="text-xl italic mt-2">
        <%= @term.part_of_speech %>
        <span class="has-tooltip inline-block ml-2 not-italic">
          <span class="tooltip rounded shadow-lg py-2 px-4 bg-gray-100 text-gray-800 mt-8">Our best guess</span>
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </span>
      </p>
    <% end %>

    <% if @term.definition.present? %>
      <p class="text-xl leading-relaxed mt-8">
        <%= sanitize @term.definition, tags: %w(a), attributes: %w(href) %>
      </p>
    <% end %>

    <% if @term.example.present? %>
      <p class="text-lg italic leading-relaxed pl-8 mt-8 text-gray-700">
        "<%= sanitize @term.example, tags: %w(a), attributes: %w(href) %>"
      </p>
    <% end %>

    <% if @term.author.present? %>
      <p class="text-sm text-gray-500 mt-8">
        — <%= @term.author %>, Urban Dictionary
      </p>
    <% end %>
  </article>
</div>
