<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Urbanite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-serif bg-[#FFFDF7] text-[#1A1A1A] flex flex-col min-h-screen">
    <header class="py-12">
      <div class="max-w-3xl mx-auto px-4 flex justify-between items-baseline">
        <%= link_to root_path, class: "text-4xl font-bold tracking-tight text-inherit" do %>
          Urbanite
        <% end %>
        <%= link_to "Search", root_path, class: "text-xl hover:underline text-inherit" %>
      </div>
    </header>

    <main class="flex-grow flex items-center justify-center">
      <div class="w-full max-w-3xl px-4">
        <%= yield %>
      </div>
    </main>

    <footer class="py-12 text-center text-sm">
      <div class="max-w-4xl mx-auto px-4">
        <p><%= Time.current.year %> Urbanite. Powered by <a href="https://urbandictionary.com" target="_blank">Urban Dictionary</a>.</p>
      </div>
    </footer>
  </body>
</html>
